@model JobApplication
@{
    Layout = "_Layout";
    ViewData["Title"] = "Accepted";
}

<h2>Accepted</h2>
<table class="table table-bordered">
    <tr>
        <th>Your name is:</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Your date of birth is:</th>
        <td>@Model.DOB.ToString("d")</td>
    </tr>
    <tr>
        <th>Your Gender is:</th>
        <td>@Model.Experience</td>
    </tr>
    <tr>
        <th>Have you accepted terms:</th>
        <td.@Model.TermsAccepted</td>
    </tr>
</table>
<a class="btn btn-success" asp-axctions="Index">Back</a>