@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@Html.Partial("_showDate")
@await Html.PartialAsync("_showDate")

@{
    Html.RenderPartial("_showDate");
}

@{
    await Html.RenderPartialAsync("_showDate");
}

<p>Use this page to detail your site's privacy policy.</p>
